 <!--button (click)="clickEventHandler()"  class='btn btn-info'>ADD</button-->
 <br/>
 <table class="table">
     <thead>
       <tr>
        
         <th scope="col">CODE</th>
         <th scope="col">DESIGNATION</th>
         <th scope="col">DATE AJOUT</th>
         <th scope="col">DISPONIBILITE</th>
         <th scope="col">PRIX NORMAL</th>
         <th scope="col">PRIX MINIMUM</th>
         <th scope="col">STOCKS</th>
         
       </tr>
     </thead>
     <tbody>
       <tr *ngFor='let cli of client'>
         <td scope="col">#</td>
          <td scope="col">{{cli.id}}</td>
         <td scope="col">{{cli.societe}}</td>
         <td scope="col">{{cli.adresse}}</td>
         <td scope="col">{{cli.telephone}}</td>
         <td scope="col">{{cli.email}}</td>
         <td scope="col">{{cli.ninea}}</td>
         <td scope="col">{{cli.codepostal}}</td>
         
         <td scope="col">
             <!--button type="button" (click)="editMedecin(prod)" class='btn btn-info'>EDIT</button>
             <button (click)="remove(prod)" class='btn btn-info'>REMOVE</button-->
         </td>
     </tr>
     </tbody>
   </table>
 